VITE_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
VITE_GOOGLE_API_KEY=your_google_api_key
VITE_CALENDAR_ID=sarabun07@gmail.com
VITE_HOLIDAY_CALENDAR_ID=8hursvf3j1aiada1h82804kr7mfrgu5f@import.calendar.google.com
VITE_DRIVE_PARENT_FOLDER_ID=1C7A4qaEHCpQqgVYV-uwnEGDzVqNGFZUO
